@page "/rosproj"
<PageTitle>Ros Project</PageTitle>

<canvas id="canvas"></canvas>
<div ondragstart="return false">
    <div id="menu">
        <button id="menu-close-button" onclick="closeMenu()">&times;</button>
    </div>
    <div id="content">
        <button id="menu-open-button" onclick="openMenu()">&#9776;</button>
        <p id="no-controller-label">No controller.</p>
    </div>
</div>
